.columns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.inner {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 50%;
}

.header-container {
    background-color: pink;
    max-width: 32rem;
}

.header-container h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.header-container p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.hidden {
    display: none;
}
