.columns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

.inner {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
}
